<div class="managerfunc">
<h2 style="padding-top: 10px; padding-bottom: 10px; text-align: center;">Wecolme {{this.uname}}</h2>
<div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Add/Update Toll</h4>
            <a routerLink="/manager/addorupdatetoll" class="btn btn-primary">Click Here...</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">My Profile</h4>
            <a routerLink="/manager/myprofile" class="btn btn-primary">Click here</a>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
<app-footer></app-footer>

