<div class="userfunc">
<h2 style="padding-top: 10px; padding-bottom: 10px; text-align: center;">Welcome {{this.uname}}</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Get Toll Price Details</h4>
              <a routerLink="/user/showprice" class="btn btn-primary">Click Here..</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">My Profile</h4>
              <a routerLink="/user/myprofile" class="btn btn-primary">Click here</a>
            </div>
          </div>
        </div>
      </div>
</div>
</div>
<app-footer></app-footer>