<div>
<app-navbar></app-navbar>

<section class="colored-section" id="title">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h1 class="big-heading">Meet new and interesting roads...</h1>
      <h4 style="padding: 5%; text-align: center;">Making Toll Information Easy For You.<br>Explore the Unexplored Roads...</h4>
    </div>
    <div class="col-md-6">
      <img class="title-image" src="../../../assets/titleimagegif2.gif" alt="title-gif">
    </div>
  </div>
</div>
</section>

<section class="white-section" id="festures">
  <div class="container-fluid">
    <div class="row">
      <div class="feature-box col-lg-4" style="text-align: center; padding-left: 20px; padding-right: 20px; padding-top: 10px;">
        <img src="../../../assets/clickimg.png" alt="click-img" width="100px" height="100px">
        <h3 class="feature-title">Easy to use</h3>
        <p>Easy to find the toll price of various toll stations just through few clicks.</p>
      </div>

      <div class="feature-box col-lg-4" style="text-align: center; padding-left: 20px; padding-right: 20px; padding-top: 20px;">
        <img src="../../../assets/savetime.png" alt="click-img" width="100px" height="100px">
        <h3 class="feature-title">Save Time</h3>
        <p>Save your time to plan destinations accordingly as per the pricing.</p>
      </div>

      <div class="feature-box col-lg-4" style="text-align: center; padding-left: 20px; padding-right: 20px; padding-top: 20px; padding-bottom: 20px;">
        <img src="../../../assets/security.png" alt="click-img" width="100px" height="100px">
        <h3 class="feature-title">Security</h3>
        <p>Efficient in managing and securing the informations of user.</p>
      </div>
    </div>
  </div>
</section>


<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/hdtollpic1.jpg" class="d-block w-100" alt="..." style="width:640px;height:500px">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/hdtollpic2.jpg" class="d-block w-100" alt="..." style="width:640px;height:500px">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/hdtollpic3.jpg" class="d-block w-100" alt="..." style="width:640px;height:500px">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>


<section class="white-section" id="functionality">
  <h2 class="section-heading">Functionalities For Every Actor's Needs</h2>
  <div class="container-fluid">
    <div class="row">
    <div class="col-md-4 actorfunctionality-column">
      <div class="card">
        <div class="card-header">
          <h3 style="text-align: center;"><strong>Admin</strong></h3>
        </div>
        <div class="card-body">
          <h3>Functionality</h3>
          <p>Login</p>
          <p>Approve/Reject Manager and Toll</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 actorfunctionality-column">
      <div class="card">
        <div class="card-header">
          <h3 style="text-align: center;"><strong>Manager</strong></h3>
        </div>
        <div class="card-body">
          <h3>Functionality</h3>
          <p>Login/Register</p>
          <p>Add/Update Toll Details</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 actorfunctionality-column">
      <div class="card">
        <div class="card-header">
          <h3 style="text-align: center;"><strong>User</strong></h3>
        </div>
        <div class="card-body">
          <h3>Functionality</h3>
          <p>Login/Register</p>
          <p>Search Toll Price</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<app-footer></app-footer>